.services-notification-page-container {
    .form-info-services {
        .input-form-service {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }
    .container-collection-management {
        margin-top: 50px;

        .button-send-management {
            margin: auto;
            display: block;
            margin-top: 30px;
            padding: 7px 20px;
        }
    }
}