.flatInputDomiciliation .MuiInputLabel-formControl {
    font-size: 0.8rem;
}

.flatInputDomiciliation .MuiInputLabel-outlined {
    transform: translate(14px, 16px) scale(1);
}

.flatInputDomiciliation .MuiOutlinedInput-root {
    height: 40px;
}

.inputDomiciliation .MuiSelect-outlined.MuiSelect-outlined {
    font-size: 0.8rem;
}

.inputDomiciliation .MuiOutlinedInput-root {
    height: 40px;
}

.inputNumberAccountDomiciliation .MuiFormLabel-root {
    font-size: 0.9rem;
}

.inputNumberAccountDomiciliation .MuiInputLabel-formControl {
    transform: translate(10px, 24px) scale(1);
}

.inputNumberAccountDomiciliation .MuiOutlinedInput-root {
    height: 40px;
}